pandas==1.4.2
numpy
nltk==3.7
spacy==3.3.1
sent2vec==0.3.0
https://github.com/elyase/geotext/archive/refs/heads/master.zip
seaborn == 0.11.2
torch==1.12.1
gensim ==4.1.2
transformers==4.22.1
cleantext
pathlib